* {
	box-sizing: border-box;
}

#map {
    height: 100%;
}
      /* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    }

body {
    background: whitesmoke;
	font-family: "Source Sans Pro";
	padding: 10px;
}

.header {
    background: #b8bc86;
	padding: 30px;
	text-align: center;
}

h {
    color: whitesmoke;
    text-align: center;
    font-size: 50px;
}

h1 {
	color: #b8bc86;
    padding: 20px;
	text-align: center;
}

h2 {
	text-align: center;
}

p {
	padding-left: 10px;
}

.footer {
    background: #b8bc86;
	margin-top: 20px;
	padding: 20px;
	text-align: center;
}
}
