* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: white;
}

.header {
  padding: 30px;
  text-align: center;
  background: #b8bc86;
}

h1 {
  color:whitesmoke;
  text-align: center;
  padding: 20px;
}

h2 {
    text-align: center;
}

h3 {
    padding-left: 5px;
}

h4 {
    padding-left: 5px;
}

.column {
  float: left;
  padding: 10px;
}

/* Left and right column */
.column.left {
  width: 25%;
  padding: 10px;
  padding-top: 40px;
}

.column.right {
  width: 25%;
  padding: 10px;
  padding-top: 40px;
}


/* Middle column */
.column.middle {
    align-content: center;
    width: 50%;
}

.card {
  background-color: #b8bc86;
  color:whitesmoke;
  padding: 20px;
  margin-top: 15px;
}

p {
    padding-left: 10px;
}

p1 {
    padding-left: 15px;
    padding-bottom: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #b8bc86;
  margin-top: 20px;
}


